<div class="card-">
  <div class="card-body bg-dark">
    <mat-card class="text-color">
      <mat-card-title-group>
        <mat-card-title>{{data!.name}}</mat-card-title>
        <mat-card-subtitle [routerLink]="['/publisher', data!.publisher.id]">Publisher: {{data!.publisher.name}}</mat-card-subtitle>
        <mat-card-subtitle>ISBIN: {{data!.isbin}}</mat-card-subtitle>
        <mat-card-subtitle [routerLink]="['/user', data!.owner.id]">Owner: {{data!.owner.nickname}} {{data!.owner.email}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="data!.publisher != null">Publisher: {{data!.publisher.name}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="data!.recipient != null"  [routerLink]="['/user', data!.recipient.id]">Recipient: {{data!.recipient.nickname}} {{data!.recipient.email}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="data!.authors.length != 0">
          Authors: <div *ngFor="let item of data!.authors;" [routerLink]="['/author', item.id]">{{item.name}}</div>
        </mat-card-subtitle>
     </mat-card-title-group>
     <mat-card-content>
       {{data!.description}}
     </mat-card-content>
    </mat-card>
  </div>
</div>
