.navigation-sticky {
  position: sticky;
  top: 0;
  background: rgb(255, 255, 255);
}

.navigation {
  margin: auto;
  padding: 5px;
  max-width: 1400px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation__logo {
  height: 70px;
  padding: 0 10px 0 36px;
}

.navigation__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.navigation__group_side {
  margin-left: auto;
  justify-content: flex-end;
}

.group__item {
  margin: 5px 15px 5px 0;
}

.collapse-button {
  display: none;
}

.collapse-target {
  align-items: center;
  display: flex;
}

@media (max-width: 991px) {
  .collapse-button {
    display: block;
  }
  .navigation__group {
    flex-direction: column;
  }
  .group__item {
    margin: 5px 0px;
  }
  .navigation {
    flex-wrap: wrap;
  }
  .navigation__logo {
    padding: 0;
  }
  .collapse-target {
    margin: auto;
    display: none;
  }
}

.collapse-target_show {
  display: flex;
}
