<div *ngFor="let author of authors">
  <app-author [author]="author"></app-author>
</div>
<div *ngIf="errorMessage">
  <div class="p-2 m-2 bg-white rounded">
    <p class="text-danger">
      {{errorMessage}}
    </p>
  </div>
</div>
<div *ngIf="!loadingState" class="d-flex flex-column align-items-center">
  <button class="btn btn-outline-dark" (click)="getAuthors()">
    Загрузить ещё
  </button>
</div>
<div *ngIf="loadingState" class="d-flex flex-column align-items-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
