<div class="p-2 m-2 bg-white rounded">
  <div class="d-flex flex-row">
    <div class="m-2">
    </div>
    <div class="m-2 text">
      {{book.owner.nickname}}
    </div>
  </div>
  <div class="m-2">
    <a class="link" title='Открыть book "{{book.Name}}"'
       [routerLink]="['/books', book.id]">
      <h3>
        {{book.Name}}
      </h3>
    </a>
    <p>
      {{book.description}}
    </p>
  </div>
  <div class="d-flex flex-row flex-wrap overflow-hidden">
    <a class="link m-1 p-1" *ngFor="let author of book.authors" title='Перейти к автору "{{author.name}}"'
       [routerLink]="['/tags', author.id]">
      {{author.name}}
    </a>
  </div>
</div>
