<div class="offset-lg-0 col-lg-12 ">
  <div class="p-2 m-2 bg-dark rounded text-color">
    <div *ngIf="isAuthenticated()">
      <div *ngIf="isAuthenticated()" class="row mb-3">

        <div class="col-9 col-lg-10 d-flex flex-column">
          <h3>
            {{this.jwtTokenService.getNickName()}}
          </h3>
          <p>
            {{this.jwtTokenService.getName()}}
          </p>
          <p>
            {{this.jwtTokenService.getEmail()}}
          </p>
          <p>
            <a href="{{this.jwtTokenService.getProfile()}}">{{this.jwtTokenService.getProfile()}}</a>
          </p>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-outline-light" (click)="logout()">
          Выйти
        </button>
      </div>
    </div>
    <div *ngIf="!this.isAuthenticated()">
      <div class="d-grid gap-2">
        <button class="btn btn-success" (click)="login()">
          Авторизоваться
        </button>
      </div>
    </div>


    <div *ngIf="isAuthenticated">
      <div *ngIf="data!.ownerBook.length != 0">
        <div class="text-color">
          Owner's Books
        </div>
        <table mat-table [dataSource]="data!.ownerBook" class="table table-dark table-striped">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/book', element.id]" class="text-color"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef> Authors </th>
            <td mat-cell *matCellDef="let element" class="text-color">
              <div *ngFor="let item of element!.authors;" [routerLink]="['/author', item.id]" >{{item.name}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="publisher">
            <th mat-header-cell *matHeaderCellDef> Publisher </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/publisher', element.publisher.id]" class="text-color"> {{element.publisher.name}} </td>
          </ng-container>

          <ng-container matColumnDef="buttom" >
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/publisher', element.publisher.id]" class="text-color">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light" >
                  Выйти
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <div *ngIf="data!.bookRecipient.length != 0">
        <div>
          Recipient's Books
        </div>
        <table mat-table [dataSource]="data!.bookRecipient" class="table table-dark table-striped">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/book', element.id]" class="text-color"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef> Authors </th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let item of element!.authors;" [routerLink]="['/author', item.id]" class="text-color">{{item.name}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="publisher">
            <th mat-header-cell *matHeaderCellDef> Publisher </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/publisher', element.publisher.id]" class="text-color"> {{element.publisher.name}} </td>
          </ng-container>

          <ng-container matColumnDef="buttom">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/publisher', element.publisher.id]" class="text-color">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light" >
                  Выйти
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <div *ngIf="data!.subscribe.length != 0">
        <div>
          Sub's Books
        </div>
        <table mat-table [dataSource]="data!.subscribe" class="table table-dark table-striped">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/book', element.id]" class="text-color"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef> Authors </th>
            <td mat-cell *matCellDef="let element">
              <div *ngFor="let item of element!.authors;" [routerLink]="['/author', item.id]" class="text-color">{{item.name}}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="publisher">
            <th mat-header-cell *matHeaderCellDef> Publisher </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/publisher', element.publisher.id]" class="text-color"> {{element.publisher.name}} </td>
          </ng-container>

          <ng-container matColumnDef="buttom">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['/publisher', element.publisher.id]" class="text-color">
              <div class="d-grid gap-2">
                <button class="btn btn-outline-light" >
                  buttom
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>

